# Common
.DS_Store
.env
*.log

# Backend
backend/venv/
backend/__pycache__/
backend/.pytest_cache/
backend/*.db

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.temp/
frontend/*.local
frontend/.eslintcache
frontend/.vite/
